@page "/"
@using BlazorWasm.Snakes.Models
@inject IJSRuntime JsRuntime
@inject SnakeService _snakeService

<!-- wrapper -->
<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        @if (_enumSnakeDetail == EnumSnakeDetail.Disable)
        {
            <!-- horizontal-grid-wrap -->
            <div class="horizontal-grid-wrap scale_anim">
                <div class="horizontal-portfolio_wrap two-ver-columns lightgallery gi_left_al" id="portfolio_horizontal_container">
                    <!-- portfolio start -->
                    @if (_snakes is not null)
                    {
                        bool isFinish = false;
                        int totalCount = _snakes.Count;
                        int picCount = 0;
                        @for (int i = 0; i < totalCount; i++)
                        {
                            List<SnakeModel> lstSnakes = new List<SnakeModel>();
                            SnakeModel item1 = new SnakeModel();
                            SnakeModel item2 = new SnakeModel();
                            SnakeModel item3 = new SnakeModel();
                            SnakeModel item4 = new SnakeModel();
                            SnakeModel item5 = new SnakeModel();
                            item1 = _snakes[i];

                            int count = 0;


                            lstSnakes.Add(item1);
                            if (i + 1 < totalCount)
                            {
                                item2 = _snakes[i + 1];
                                lstSnakes.Add(item2);
                                count++;
                            }
                            else
                            {
                                isFinish = true;
                            }
                            if (i + 2 < totalCount)
                            {
                                item3 = _snakes[i + 2];
                                lstSnakes.Add(item3);
                                count++;
                            }
                            else
                            {
                                isFinish = true;
                            }
                            if (i + 3 < totalCount)
                            {
                                item4 = _snakes[i + 3];
                                lstSnakes.Add(item4);
                                count++;
                            }
                            else
                            {
                                isFinish = true;
                            }
                            if (i + 4 < totalCount)
                            {
                                item5 = _snakes[i + 4];
                                lstSnakes.Add(item5);
                                count++;
                            }
                            else
                            {
                                isFinish = true;
                            }

                            i += count;
                            @if(item1.EngName is not null)
                            {
                                <!-- gallery-item-->
                            <div class="gallery-item nature" @onclick="() => OnClick(item1)">
                                <div class="grid-item-holder  hov_zoom">
                                    <img src="@ImagePath(item1.Id)" alt="">
                                    <div class="grid-item-info">
                                       @*  <h3>
                                            <a href="javascript:void(0);">@item1.MMName</a>
                                        </h3> *@
                                        <p>@item1.MMName</p>
                                    </div>
                                    <a class=" grid-media-zoom" href="javascript:void(0);" @onclick="() => OnClick(item1)">
                                        <i class=" far fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            }
                            @if(item2.EngName is not null)
                            {
                                <!-- gallery-item-->
                            <div class="gallery-item models couples" @onclick="() => OnClick(item2)">
                                <div class="grid-item-holder  hov_zoom">
                                    <img src="@ImagePath(item2.Id)" alt="">
                                    <div class="grid-item-info">
                                       @*  <h3>
                                            <a href="javascript:void(0);">@item1.MMName</a>
                                        </h3> *@
                                        <p>@item2.MMName</p>
                                    </div>
                                    <a class=" grid-media-zoom" href="javascript:void(0);" @onclick="() => OnClick(item2)">
                                        <i class=" far fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            }
                            @if(item3.EngName is not null){
                                 <!-- gallery-item-->
                            <div class="gallery-item portfolio_item_second models" @onclick="() => OnClick(item3)">
                                <div class="grid-item-holder  hov_zoom">
                                    <img src="@ImagePath(item3.Id)" alt="">
                                    <div class="grid-item-info">
                                       @*  <h3>
                                            <a href="javascript:void(0);">@item1.MMName</a>
                                        </h3> *@
                                        <p>@item3.MMName</p>
                                    </div>
                                    <a class=" grid-media-zoom" href="javascript:void(0);" @onclick="() => OnClick(item3)">
                                        <i class=" far fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            }
                            @if (item4.EngName is not null)
                            {
                                <!-- gallery-item-->
                            <div class="gallery-item nature" @onclick="() => OnClick(item4)">
                                <div class="grid-item-holder  hov_zoom">
                                    <img src="@ImagePath(item4.Id)" alt="">
                                    <div class="grid-item-info">
                                        @*  <h3>
                                            <a href="javascript:void(0);">@item1.MMName</a>
                                        </h3> *@
                                        <p>@item4.MMName</p>
                                    </div>
                                    <a class=" grid-media-zoom" href="javascript:void(0);" @onclick="() => OnClick(item4)">
                                        <i class=" far fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            }
                            @if(item5.EngName is not null){
                                <!-- gallery-item-->
                            <div class="gallery-item couples" @onclick="() => OnClick(item5)">
                                <div class="grid-item-holder  hov_zoom">
                                    <img src="@ImagePath(item5.Id)" alt="">
                                    <div class="grid-item-info">
                                        @*  <h3>
                                            <a href="javascript:void(0);">@item1.MMName</a>
                                        </h3> *@
                                        <p>@item5.MMName</p>
                                    </div>
                                    <a class=" grid-media-zoom" href="javascript:void(0);" @onclick="() => OnClick(item5)">
                                        <i class=" far fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            }
                        }
                    }
                    <!-- portfolio end -->
                </div>
            </div>
            <!-- portfolio end -->
            <!-- gallery-filters-wrap-->
            <div class="gallery-filters-wrap">
                <div class="gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All Cases</a>
                    <a href="#" class="gallery-filter" data-filter=".nature"> Nature</a>
                    <a href="#" class="gallery-filter" data-filter=".models">Models</a>
                    <a href="#" class="gallery-filter" data-filter=".couples"> Couples</a>
                    <a href="#" class="gallery-filter" data-filter=".outdoor"> Outdoor</a>
                </div>
                <div class="gallery-filters-overlay"></div>
            </div>
            <!--gallery-filters-wrap end-->
        }
        else
        {
            if (_snakeModel is not null)
            {
                <!-- column-image  -->
                <div class="column-image">
                    <div class="bg" data-bg="@ImagePath(_snakeModel.Id)"></div>
                    <div class="overlay"></div>
                    <div class="column-title">
                        <h2>@_snakeModel.MMName</h2>
                        <h3>@_snakeModel.EngName</h3>
                    </div>
                    <div class="ci_dec">
                        <span>
                        </span>
                    </div>
                </div>
                <!-- column-image end  -->
                <!-- column-wrapper -->
                <div class="column-wrapper">
                    <!--section  -->
                    <section id="sec1">
                        <div class="container small-container">
                            <div class="section-title fl-wrap">
                                @if (!string.IsNullOrWhiteSpace(_snakeModel.IsPoison) && !string.IsNullOrWhiteSpace(_snakeModel.IsPoison))
                                {
                                    <h3>@_snakeModel.MMName (အန္တရာယ်@Map(_snakeModel.IsDanger)) (အဆိပ်@Map(_snakeModel.IsPoison))</h3>
                                }
                                <h4>@_snakeModel.EngName</h4>
                                <div class="section-number">@(_snakeModel.Id.ToString().PadLeft(2, '0')).</div>
                                <a href="javascript:void(0);" @onclick="Back" style="margin-top: 30px;" class="btn-small">BACK</a>
                            </div>
                            <div class="column-wrapper_item fl-wrap">
                                <div class="column-wrapper_text fl-wrap">
                                    <p>
                                        @((MarkupString)_snakeModel.Detail);
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--section end  -->

                    <div class="order-wrap">
                        <div class="container small-container">
                            <h4>GitHub Repository</h4>
                        </div>
                        <a href="https://github.com/sannlynnhtun-coding/BlazorWasm.Snakes" target="_blank" class="order_btn">Open</a>
                    </div>
                </div>
                <!-- column-wrapper -->
                <!-- fixed-bottom-container -->
                <div class="fixed-bottom-container">
                    <div class="scroll-down-wrap">
                        <div class="mousey">
                            <div class="scroller"></div>
                        </div>
                    </div>
                    <div class="page-scroll-nav">
                        <nav class="scroll-init">
                            <ul>
                                <li>
                                    <a href="#sec1" class="act-sec"></a><span>About</span>
                                </li>
                                <li>
                                    <a href="#sec2"></a><span>Services</span>
                                </li>
                                <li>
                                    <a href="#sec3"></a><span>Skills</span>
                                </li>
                                <li>
                                    <a href="#sec4"></a><span>Clients</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar color-bg"></div>
                    </div>
                </div>
                <!-- fixed-bottom-container end-->
            }
        }
    </div>
    <!-- content-holder end -->
</div>
<!-- wrapper end -->